input, select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--stroke-default);
  padding: 0.75rem;
  font: var(--text-l);

  &:invalid {
    border: 0.125rem solid var(--error);
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

label {
  font: var(--text-p);
  color: var(--text-secondary);
  display: block;
  margin-bottom: 0.25rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.voltar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  max-width: 75px;

  &:hover span, &:hover svg path {
    color: var(--stroke-primary);
    stroke: var(--stroke-primary);
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: none;
}

legend {
  margin-bottom: 1.5rem;

  h2 {
    font: var(--h4-size);
  }
}

.input-info {
  display: flex;
  flex-direction: column;
}

.select-info {
  display: flex;
  flex-direction: column;
}
.text-info {
  display: flex;
  flex-direction: column;
}

input:focus,
select:focus,
textarea:focus, 
input[type="date"]:focus-within,
input[type="checked"]:focus-within {
  outline: 0.25rem solid var(--stroke-secondary);
  border: 0.125rem solid var(--stroke-primary);
  outline-offset: .1px;
}

.calendar {
  position: relative;

  & input {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    color: var(--text-secondary);
  }

  & svg {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 0.3s;
  }

  &:hover svg path {
    fill: var(--stroke-primary);
  }

  &:focus-within svg path {
    fill: var(--stroke-primary);
  }
}


.select-icon {
  position: relative;
  
  & select {
    color: var(--text-secondary);
  }

  & input {
    position: relative;
    z-index: 1; 
    padding-right: 2rem;
  }

  & svg {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s;
    z-index: 0;

  }
  
  &:hover svg path {
    fill: var(--stroke-primary);
  }

  &:focus-within svg path {
    fill: var(--stroke-primary);
  }

}

textarea {
  width: 100%;
  max-width: 528px;
  min-width: 500px;
  min-height: 113px;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);
  padding: 0.75rem;
  font: var(--text-l);
}

.upload {
  border: 2px dashed var(--stroke-secondary);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  & p {
    max-width: 170px;
    text-align: center;
    color: var(--text-upload);
  }

  & img {
    height: 3rem;
  }

  &:hover, &:has(input:focus) {
    border: 2px dashed var(--stroke-primary);
    border-color: var(--stroke-primary);
    background-color: var(--stroke-secondary);

    & p {
      color: var(--text-primary);
    }

    & svg path {
      stroke: var(--stroke-primary);
    }
  }
}

.input-end:has([disabled]) {
  opacity: 0.5;
}

.nome-resp p {
  font: var(--text-span);
  color: var(--stroke-default);
}

.fone-resp {
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: var(--error);
}

/* Opções de matrícula */
.turno {
  display: grid;
  gap: .75rem;
}

.turno-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  position: relative;

  & .individual {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--stroke-default);
    padding: 0.75rem;
    font: var(--text-l);
    
    &:hover {
      outline: 0.25rem solid var(--stroke-secondary);
      border: 0.125rem solid var(--stroke-primary);
      outline-offset: .1px;
    }

    & svg {
      top: 0;
      left: 0;
    }

    &:has(:checked) {
      & input {
        outline: 0.25rem solid var(--stroke-secondary);
        border: 0.125rem solid var(--stroke-primary);
        outline-offset: 0.1px;
      }
  
      & svg {
        background-image: url(/src/assets/icons/check-select.svg);
  
        & path {
          opacity: 0;
        }
      }
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual .image {
  transition: transform 0.5s ease;
}
.individual:hover .image {
  transform:translateY(-10px);
}

.esporte > label {
  margin-bottom: .75rem;
}

.esporte-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1.5rem;
  position: relative;

  & .individual-esporte {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--stroke-default);
    padding: 0.75rem;
    font: var(--text-l);
    
    &:hover {
      outline: 0.25rem solid var(--stroke-secondary);
      border: 0.125rem solid var(--stroke-primary);
      outline-offset: .1px;
    }

    & svg {
      top: 0;
      left: 0;
    }

    &:has(:checked) {
      & input {
        outline: 0.25rem solid var(--stroke-secondary);
        border: 0.125rem solid var(--stroke-primary);
        outline-offset: 0.1px;
      }
  
      & svg {
        background-image: url(/src/assets/icons/check-select.svg);
  
        & path {
          opacity: 0;
        }
      }
    }
  }
}

.individual-esporte .image {
  transition: transform 0.5s ease;
}
.individual-esporte:hover .image {
  transform:translateY(-10px);
}

.esporte > label {
  margin-bottom: .75rem;
}

.terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.terms input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.terms input[type="checkbox"]:checked {
  background-image: url('/src/assets/icons/check-terms.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.terms label {
  display: block;
}

.terms input {
  width: 4px;
  height: 4px;
  vertical-align: middle;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1.5rem;
}

.button-1 {
  background-color: transparent;
  border: none;
  padding: .75rem 1.5rem;
  border: 1px solid var(--stroke-primary);
  border-radius: .5rem;
  color: var(--stroke-primary);
  cursor: pointer;

  & button {
    font: var(--h1-size);
  }


  &:hover {
    outline: 0.25rem solid var(--stroke-secondary);
    border: 0.125rem solid var(--stroke-primary);
    outline-offset: .1px;  
    color: var(--text-highlight);
  }
}

.button-2 {
  background-color: var(--text-highlight);
  border: none;
  padding: .75rem 1.5rem;
  border: 1px solid var(--stroke-primary);
  border-radius: .5rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #F3541C;
  }
}
