* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-ligth: #F67841;
  --brand-mid: #F3541C;
  --brand-dark: #E43A12;
  --text-h1:#b70000;
  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-upload: #8F8881;
  --text-highlight: #E43A12;
  --surface-primary: #FEE7D6;
  --surface-secondary: #8F8881;
  --surface-disabled: #E7E5E4;
  --stroke-default: #D6D3D1;
  --stroke-primary: #F3541C;
  --stroke-secondary: #FEE7D6;
  --error: #DC2626;
  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A5;

  /* Font Family */
  --font-family: "Poppins", sans-serif;
  --h1-size: 800 32px/120% var(--font-family);
  --h2-size: 800 24px/120% var(--font-family);
  --h3-size: 800 20px/120% var(--font-family);
  --h4-size: 800 16px/120% var(--font-family);
  --text-l: 400 16px/120% var(--font-family);
  --text-p: 400 14px/120% var(--font-family);
  --text-span: 300 14px/145% var(--font-family);
}

body {
  font: var(--text-p);
  color: var(--text-secondary);
  overflow: hidden;
}

h1, h2 {
  color: var(--text-primary);
}